<div class="ldr" [class.ldr-overlay]="overlay" [ngClass]="'ldr-' + size" [attr.data-state]="state">
  <div class="ldr-inner">
    <div class="ldr-logo">
      <img class="ldr-img" src="assets/craveit-logo-transparent.png" alt="crave-it" />
      <span class="ldr-it-amb"></span>
      <span class="ldr-shine"></span>
    </div>
    <div class="ldr-track">
      <span class="ldr-fill"></span>
      <span class="ldr-streak"></span>
    </div>
    <div class="ldr-msg" *ngIf="currentMessage">{{ currentMessage }}</div>
  </div>
</div>
